<!-- start: #header -->
<header id="header">

	<div class="menu-mobile">
		<i class="fa fa-bars"></i>
	</div>

	<!-- start: .top -->
	<div class="top grid-container grid-parent">

		<div class="social hide-on-mobile hide-on-tablet">
			<i class="open fa fa-share-alt"></i>
			{{> social-profiles}}
		</div>

		{{#if @blog.logo}}
			<h1 class="logo" ><a href="{{@site.url}}"><img id="logo" src="" alt="{{@site.title}}" /></a></h1>
		{{else}}
			<h1 class="logo">
				<a href="{{@site.url}}">{{@site.title}}</a>
			</h1>
		{{/if}}

	</div>
	<!-- end: .top -->

	

	<!-- start: .menu-wrapper -->
	<div class="menu-wrapper">
		<!-- start: .main-nav -->
		<nav class="main-nav grid-container grid-parent" role="navigation">

			<div class="social hide-on-tablet hide-on-mobile">
				<i class="open fa fa-share-alt"></i>
				{{> social-profiles}}
			</div>

			<ul id="menu-header" class="menu">
				<li class="nav-home current-menu-item"><a href="/">Home</a></li>
				<li class="nav-entertainment">
					<a href="/tag/news/">News</a>
					<div class="entertainment-dropdown-content">
						<a href="/coronavirus/">Covid-19</a>
					</div>
				</li>
				<li class="nav-features"><a href="/tag/features/">Features</a></li>
				<li class="nav-comment"><a href="/tag/comment/">Opinion</a></li>
				<li class="nav-science"><a href="/tag/science/">SciTech</a></li>
				<li class="nav-lifestyle" id="nav-lifestyle">
					<a id="croft_head" href="/tag/The Croft/">The Croft</a>
					<div id="croft_drop" class="lifestyle-dropdown-content">
						<a class="croft_drop" href="/tag/wellbeing/">Wellbeing</a>
						<a class="croft_drop" href="/tag/food/">Food</a>
						<a class="croft_drop" href="/tag/travel/">Travel</a>
						<a class="croft_drop" href="/tag/style/">Style</a>
					</div>
				</li>
		    <li class="nav-entertainment">
					<a href="/tag/entertainment/">Culture</a>
					<div class="entertainment-dropdown-content">
						<a href="/tag/film-TV/">Film & TV</a>
						<a href="/tag/arts/">Arts</a>
						<a href="/tag/music/">Music</a>
					</div>
				</li>
					{{!-- <li class="nav-sports"><a href="http://epigram.ghost.io/tag/sport/">Sport</a></li> --}}
				</li>
			<li class="nav-intramural">
					<a href="/tag/sport/">Sport</a>
					<div class="intramural-dropdown-content">
						<a href="/tag/intramural/">Intramural</a>
						<a href="/2018/10/01/intramural-football/">Football</a>
						<a href="/basketball/">Basketball</a>
						<a href="/netball/">Netball</a>
						<a href="/badminton/">Badminton</a>
						<a href="/hockey/">Hockey</a>
					</div>
				</li>
				</li>
			<li class="nav-puzzles"><a href="/tag/puzzles/">Puzzles</a></li>
				</li>
			<li class="nav-intramural">
					<a href="/get-involved/">Get Involved</a>
					<div class="intramural-dropdown-content">
						<a href="/advertise-with-us/">Advertise</a>
						<a href="/alumni/">Alumni</a>
						<a href="/meet-the-team/">Team</a>
						<a href="/read-the-paper/">Read the paper</a>
						<!-- <a href="/tag/puzzles/">Puzzles</a> -->
					</div>
				</li>
				</li>
				{{!-- <form action="" method="get" class="mobile-hide">
					<input type="text" name="s" value="" class="search-field" required>
					<button type="submit"><i class="fa fa-search"></i></button>
				</form> --}}
				{{!-- <div class="nav-home current-menu-item">
    			<button class="home-dropbtn">Home</button>
    		<div class="home-dropdown-content">
      		<a href="#">Link 1</a>
      		<a href="#">Link 2</a>
      		<a href="#">Link 3</a>
    		</div>
  		</div> --}}
		</ul>

			<form action="" method="get" class="hide-on-tablet hide-on-mobile mobile-hide">
				<input type="text" name="s" value="" class="search-field" placeholder="Search" required>
				<button type="submit"><i class="fa fa-search" style="margin-right: 4px;"></i></button>
			</form>

		</nav>
		<!-- end: .main-nav -->
	</div>
	<!-- end: .menu-wrapper -->

	<div class="clear"></div>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</header>
<!-- end: #header -->
