<!DOCTYPE html>
<!--[if lte IE 7]><html class="ie7"><![endif]-->  
<!--[if IE 8]><html class="ie8"><![endif]-->  
<!--[if IE 9]><html class="ie9"><![endif]-->  
<!--[if !IE]><!--><html><!--<![endif]-->  
<head>
{{! Document Settings }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{! Page Meta }}
<title>{{meta_title}}</title>

{{! Mobile Support }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{! Styles'n'Scripts }}
<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/grids.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/common-elements.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/responsive.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/prettify-bootstrap.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/jquery.magnific-popup.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/tooltipster/css/tooltipster.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/tooltipster/css/themes/tooltipster-small.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/slick/slick.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/slick/slick-theme.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/main-color.css"}}">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="{{asset "css/grids-ie.css"}}">
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{ghost_head}}
<script type="text/javascript" src="{{@site.url}}/config.js"></script>
<!-- <script type="text/javascript" src="{{asset "js/handlebars-v4.7.7.js"}}"></script> -->
<script type="text/javascript" src="{{asset "js/content-api.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/moment.js"}}"></script>
<script type="text/javascript" src="{{asset "js/time.since.js"}}"></script>
<!-- <script type="text/javascript" src="{{asset "js/hb.optional.js"}}"></script> -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120404499-1"></script>
{{!-- <script async defer src="https://apis.google.com/js/api.js" 
    onload="this.onload=function(){};handleClientLoad()" 
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script> --}}
<script>
  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  
  gtag('js', new Date());


  var _name = "General2";
  var _section ="General2";
  var sections =["comment","features","news","travel","film&amp;tv","style","science","living","letters","wellbeing","food","arts","music","sport","Puzzles","Intramural"];

 {{#is "post"}}
   
  {{#post}}
   _name = "{{primary_author.name}}";
  
{{#foreach tags}}
	
	if(sections.includes("{{name}}"))
	{
		if("{{name}}"=="film&amp;tv")
		{
		_section ='film-tv'
		}
		else
		{
		_section ="{{name}}"
		}
	}

 {{/foreach}}
  
  {{/post}}
  
 {{else}}
  
 _name = "General"
 _section="General"
  
 {{/is}}

gtag('config', 'UA-120404499-1', {'dimension1': _name, 'dimension2': _section});

</script>
</head>
<body class="enable_animations {{#if @site.cover_image}}cover{{/if}} {{body_class}}" {{#if @site.cover_image}}style="background: url({{@site.cover_image}}) no-repeat center center fixed;"{{/if}}>
	
		{{> header}}
	<!-- start: #wrapper -->
	<div id="wrapper">
	
		
		<div id="search-results" class="center grid-container grid-parent"></div>
		
        {{{body}}}
		
		{{> footer}}		
		
    </div>
    <!-- end: #wrapper -->
	
    {{ghost_foot}}
	<script type="text/javascript">  
	if (typeof jQuery == 'undefined') {
		document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></'+'script>');		
	}
	</script>
	<script type="text/javascript" src="{{asset "js/jquery-migrate-1.2.1.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/pace.min.js"}}"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCchcoGJFmW7Tg3di_xtx3HfK3Y7RGQoq0&sensor=false"></script> -->
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.sticky.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/google-code-prettify/prettify.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.placeholder.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.magnific-popup.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.sticky.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jflickrfeed.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/tooltipster/jquery.tooltipster.min.js"}}"></script>
	<!--<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script> -->
	<script type="text/javascript" src="{{asset "js/slick/slick.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.debounce.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/global.js"}}"></script>
	<script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script>
	<!--[if !IE]><!--> 
	<script type="text/javascript" src="{{asset "js/wow.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/parallax.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/page.views.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/most.read.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/hide.show.js"}}"></script>
	<script type="text/javascript">
		if($('body').hasClass('enable_animations')){
			wow = new WOW({ offset: 150 });
			wow.init();
		}else{
			$('.wow').removeClass('wow opacity0');	
		}
	</script> 
	<!--<![endif]-->
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */

		
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			(document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
</body>
</html>
