{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<!-- start: #page -->
<main id="page" class="main" role="main">
	{{! Everything inside the #post tags pulls data from the post }}
	{{#post}}
	
		<!-- start: .center -->
		<div class="center grid-container {{#has tag="no sidebar"}}no-sidebar{{/has}} {{#has tag="one sidebar"}}one-sidebar{{/has}} {{#has tag="two sidebar"}}two-sidebar{{/has}}">

			{{#has tag="two sidebar"}}
			<div class="section hide-on-tablet">

				{{> sidebar-featured}}
			
			</div>
			{{else}}
			{{/has}}

			<!-- start: .left-content -->
			<div class="left-content section grid-parent grid-50" style="display: block;">

				<article class="{{post_class}}">
				
					<header>
						<h2 class="title bordered">{{{title}}}</h2>
					</header>
					<section class="post-content">
						<div class="text">
							{{content}}
						</div>
						<div class="clear"></div>
					</section>
					
				</article>
			</div>
			<!-- end: .content -->
			
			<div class="section hide-on-tablet">

				{{#has tag="two sidebar"}}
				{{> sidebar-default}}
				{{else}}
				{{> sidebar-featured}}
				{{>sidebar-default}}
				{{/has}}
				
			</div>
		
		</div>
		<!-- end: .center -->
		
	{{/post}}
</main>
<!-- end: #page -->
